
<ul>
    <li *ngFor="let evento of eventos" >
      <br>ID: {{evento.id}}
      <br>Nombre: {{evento.nombre}}
      <br>Categoria: {{evento.categoria}}
      <br>Descripción: {{evento.descripcion}}
      <br>Importante: {{evento.importante}}
      <br>Usuario: {{evento.usuario}}
      <br>Lugar: {{evento.lugar}}
      <br>Hora Inicio:{{evento.hora_inicio}}
      <br>Hora Fin:{{evento.hora_fin}}
      <br>Fecha Inicio: {{evento.fecha_inicio}}
      <br>Fecha Fin:{{evento.fecha_fin}}
      <br>Valor Entrada:{{evento.valor_entrada}}
      <br>Tipo de Pago:{{evento.tipo_pago}}
      <br>
      
      <a [routerLink]="['/eventos/vista-evento',evento.id]" 
      routerLinkActive='router-link-active'>Ver--</a>

      
    </li>
</ul>
