
.puesto {
  background: aliceblue;
    border-color: black;
    
    padding: 5px 15px;
    cursor: move;
    float: left;
    border:1px solid black;
    margin: 2px 2px 2px;
  }

  .fila {
    background: chartreuse;
    width: 1300px; height: 40px;

    
    border:1px solid black;
    margin: 2px 2px 2px;
  }

  .nombre{
    padding: 5px 39px;
    margin: 2px 2px 2px;
  }